*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .banar{
  
   position: relative;
 }
 .banar img{
   width: 1365px;
   height: 630px;
 }
 .banar b{
   position: absolute;
   top: 40px;
   left:60px;
   color: rgb(206, 223, 189);
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 2px;
   color: linear-gradient(greenyellow,blue,red);
}
.navbar{
   list-style: none;
   display: flex;
   justify-content: end;
   font-size: 16px;
   gap: 50px;
}

.navbar .link{

   text-decoration: none;
}
.banar .navbar{

position: absolute;
top: 35px;
right: 100px;
color: white;

}
.navbar li{

color: white;
width: 100px;
height: 40px;
text-align: center;
padding:8px ;
border-radius: 40px;
}
.navbar li:hover{
   background-color: black;

}